@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
}

section#conteiner_principal {
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    background-color:#d4d2d2;
    border: 2px solid #716f6f;

    height: 210px;
    width: 180px;

}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section > div#titulo_caculadora {
    padding: 4px;
}
#res_calculos{
    background-color: rgba(0, 128, 0, 0.292);
}



button {
    font-weight: bold;
    height: 35px;
    border-radius: 5px;
    flex: 0 1 37px;
    margin: 2px;
    
}

.butao_especial {
   border: 2px solid rgb(244, 6, 6);
   background-color: rgba(255, 0, 0, 0.485);
}

.butao {
    background-color: rgba(128, 128, 128, 0.424);
    border: 2px solid gray;
}

